[submodule "flightController"]
	path = flightController
	url = git@github.com:ludgerheide/autopilot-flightcontroller.git
[submodule "groundControl"]
	path = groundControl
	url = git@github.com:ludgerheide/autopilot-groundcontrol.git
[submodule "serialConnector"]
	path = serialConnector
	url = git@github.com:ludgerheide/autopilot-serialconnector.git
[submodule "navigator"]
	path = navigator
	url = git@github.com:ludgerheide/autopilot-navigator.git
